html,
body,
div,
h1,
p,
a,
img,
aside,
header,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

aside,
header,
section {
    display: block
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    background: #f4f5f6;
    height: 100%;
    min-width: 320px
}

body {
    background: #fff;
    color: #2d3c48;
    font: 14px "SQMarket", "Helvetica Neue", sans-serif;
    line-height: 20px;
    width: 100%;
    -webkit-font-smoothing: antialiased
}

body:before,
body:after {
    content: "";
    display: table
}

body:after {
    clear: both;
    display: none
}

a {
    color: #3e8cb7;
    text-decoration: none
}

p {
    margin: 0
}

.wrapper {
    font-size: 1.14286em;
    line-height: 1.25em;
    background-position: center top;
    background-repeat: repeat-y;
    height: 100%;
    margin: 0 auto;
    min-height: 511px
}

.profile {
    font-size: .875em;
    line-height: 1.42857em
}

.profile-content {
    clear: both;
    position: relative
}

.profile-content:before,
.profile-content:after {
    content: "";
    display: table
}

.profile-content:after {
    clear: both
}

.profile-masthead {
    float: left;
    padding-top: 2.85714em;
    padding-bottom: .92857em;
    width: 100%
}

.profile-logo {
    min-height: 80px;
    position: relative
}

.profile-logo:before,
.profile-logo:after {
    content: "";
    display: table
}

.profile-logo:after {
    clear: both
}

.profile-logo img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    text-decoration: none;
    vertical-align: middle;
    width: 80px
}

.profile-logo-image {
    float: left;
    height: 80px;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 80px
}

.profile-name {
    font-size: 2em;
    line-height: 2.57143em;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    font-weight: 300;
    min-height: 2.57143em;
    margin-left: 98px;
    margin-top: .03571em
}

.profile-name h1 {
    line-height: 1.07143em;
    display: inline-block;
    vertical-align: middle
}

.profile-summary {
    text-align: right
}

.summary-module {
    overflow: hidden
}

.summary-module:first-child {
    margin-top: 0
}

.summary-module a {
    display: block
}

.profile-description {
    padding-bottom: .64286em;
    text-align: center
}

.profile-description:before {
    border-top: 1px solid #eff0f1;
    content: "";
    display: block;
    margin: 0 -5px;
    padding-top: 2.35714em;
    position: relative
}

.profile-description p {
    font-size: 1.57143em;
    line-height: 1.45455em;
    font-weight: 300;
    margin: 0 auto
}

@media only screen and (max-width:29.9375em) {
    body {
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%
    }

    body:after {
        content: "xsmall"
    }

    .wrapper {
        max-width: 276px;
        _width: 276px;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    }

    .wrapper:after {
        content: "";
        display: table;
        clear: both
    }

    .profile-masthead {
        padding-top: 1.42857em;
        padding-bottom: 1.14286em
    }

    .profile-logo-image {
        float: none;
        margin-top: .07143em;
        margin-bottom: 1.21429em
    }

    .profile-name {
        line-height: 0;
        margin-left: 0;
        min-height: 0;
        text-align: center
    }

    .profile-name h1 {
        vertical-align: bottom
    }

    .profile-summary {
        margin-top: .07143em;
        text-align: left
    }

    .summary-module {
        width: 100%;
        float: left;
        margin-right: 37.03704%;
        display: inline;
        margin-top: .14286em;
        text-align: center
    }

    .summary-module:first-child {
        margin-top: 0
    }

    .profile-description {
        padding-top: 1.28571em;
        padding-bottom: .67857em
    }

    .profile-description:before {
        padding-top: 2.5em
    }

    .profile-description p {
        width: 100%
    }

    .profile-description p {
        font-size: 1.14286em;
        line-height: 1.5em
    }
}

@media screen and (min-width:30em) and (max-width:37.4375em) {
    body {
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%
    }

    body:after {
        content: "small"
    }

    .wrapper {
        max-width: 424px;
        _width: 424px;
        padding: 0;
        margin-left: auto;
        margin-right: auto
    }

    .wrapper:after {
        content: "";
        display: table;
        clear: both
    }

    .profile-masthead {
        padding-top: 1.42857em;
        padding-bottom: 1.14286em
    }

    .profile-logo-image {
        float: none
    }

    .profile-logo-image {
        margin-top: .07143em;
        margin-bottom: 1.21429em
    }

    .profile-name {
        margin-left: 0
    }

    .profile-name {
        text-align: center
    }

    .profile-name {
        line-height: 0;
        min-height: 0
    }

    .profile-name h1 {
        vertical-align: bottom
    }

    .profile-summary {
        margin-top: .07143em;
        text-align: left
    }

    .summary-module {
        width: 100%;
        float: left;
        margin-right: 37.03704%;
        display: inline;
        margin-top: .14286em;
        text-align: center
    }

    .summary-module:first-child {
        margin-top: 0
    }

    .profile-description {
        padding-top: 1.28571em;
        padding-bottom: .67857em
    }

    .profile-description:before {
        padding-top: 2.5em
    }

    .profile-description p {
        width: 100%
    }

    .profile-description p {
        font-size: 1.14286em;
        line-height: 1.5em
    }
}

@media screen and (min-width:37.5em) and (max-width:47.9375em) {
    body:after {
        content: "medium"
    }

    .wrapper {
        max-width: 572px;
        _width: 572px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto
    }

    .wrapper:after {
        content: "";
        display: table;
        clear: both
    }

    .profile-logo {
        width: 48.25175%;
        float: left;
        margin-right: 3.4965%;
        display: inline
    }

    .profile-summary {
        min-height: 80px
    }

    .profile-summary {
        width: 48.25175%;
        float: right;
        margin-right: 0;
        display: inline;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        float: none
    }

    .profile-description p {
        width: 101%
    }
}

@media screen and (min-width:48em) and (max-width:63.9375em) {
    body:after {
        content: "large"
    }

    .wrapper {
        max-width: 720px;
        _width: 720px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto
    }

    .wrapper:after {
        content: "";
        display: table;
        clear: both
    }

    .profile-logo {
        width: 48.61111%;
        float: left;
        margin-right: 2.77778%;
        display: inline
    }

    .profile-summary {
        min-height: 80px
    }

    .profile-summary {
        width: 48.61111%;
        float: right;
        margin-right: 0;
        display: inline;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        float: none
    }

    .profile-description p {
        width: 100%
    }
}

@media screen and (min-width:64em) and (max-width:79.9375em),
screen and (min-width:64em) and (max-height:68.6875em) {
    body:after {
        content: "xlarge"
    }

    .wrapper {
        max-width: 868px;
        _width: 868px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto
    }

    .wrapper:after {
        content: "";
        display: table;
        clear: both
    }

    .profile-logo {
        width: 48.84793%;
        float: left;
        margin-right: 2.30415%;
        display: inline
    }

    .profile-summary {
        min-height: 80px
    }

    .profile-summary {
        width: 48.84793%;
        float: right;
        margin-right: 0;
        display: inline;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        float: none
    }

    .profile-description p {
        width: 86%
    }
}

@media screen and (min-width:80em) and (min-height:68.75em) {
    body:after {
        content: "xxlarge"
    }

    .wrapper {
        max-width: 1164px;
        _width: 1164px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto
    }

    .wrapper:after {
        content: "";
        display: table;
        clear: both
    }

    .profile-logo {
        width: 61.85567%;
        float: left;
        margin-right: 1.71821%;
        display: inline
    }

    .profile-summary {
        min-height: 80px
    }

    .profile-summary {
        width: 36.42612%;
        float: right;
        margin-right: 0;
        display: inline;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        float: none
    }

    .profile-description p {
        width: 75%
    }
}
